<head>
  <%= display_meta_tags title: @business.title  %>

</head>
<div class="container">
	<div class="row" style="min-height: 30rem;background-color: #000000;">
		<div class="col-md-9" style="">
			
				<h1 class="business-title"><%= @business.title %></h1>
				<% if @business.photo.present? %>
				<p class="business-image"><%= image_tag @business.photo ,style: "width:500px;height:250px;" %></p>
				<% else %>
					<p></p>
				<% end %>
				<p class="business-text"><%= @business.text %></p>
				<% if @business.video.present? %>
				<p class="business-video"><%= video_tag @business.video,controls: true,type: "video/mp4",style: "width:500px;height:250px;" %></p>
				<% else %>
					<p></p>
				<% end %>
		</div>
		<div class="col-md-3">
			<h5 style="color:#FFFFFF;">CONTACT KAASS LAW</h5>
		<p style="padding-top: 20px;color:#FFD400;;">815 E. Colorado Suite #220 <br>
			Glendale CA 91205<br>
			(310) 943-1171<br>
			info@kaass.com<br>
			Open 24 Hours
		</p>
		
	  		<p>	
			      <a class="fb-ic mr-3"href="https://www.facebook.com/KaassLaw/" target="_blank"><i class="fa fa-lg fa-facebook social" style="color:#ffffff;"> </i></a>
			      <a class="tw-ic mr-3" href="https://www.twitter.com/Kaass_Law/" target="_blank"><i class="fa fa-lg fa-twitter social" style="color:#ffffff;"> </i></a>
			      <a class="yp-ic mr-3" href="https://www.yelp.com/biz/kaass-law-glendale" target="_blank">
					<i class="fa fa-yelp social" style="color:#ffffff;"></i>
				  </a>
			      <a class="ins-ic mr-3" href="https://www.instagram.com/kaass_law/" target="_blank"><i class="fa fa-lg fa-instagram social" style="color:#ffffff;"> </i></a>
      		</p>
      <p>
			<iframe style="border: 0;width: 90%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.1370734224456!2d-118.24694934928684!3d34.14283508048595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c1044665d4e7%3A0x7de9808c32e4b4c6!2sKaass+Law!5e0!3m2!1sen!2sus!4v1536462756163" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
		</p>
		</div>
	</div>
</div>