<section class="footer">
	<div class="row footer-row">
		<div class="col-md-3 ">
			<div class="col-md-12 foot">
				<h5 style="padding-top:20px;">MANU</h5>
				<br>
				<p ><%= link_to "HOME",home_index_path,class: "foot-menu1" %></p>				
				<p ><%= link_to "ABOUT",abouts_path,class: "foot-menu1" %></p>
				<p ><%= link_to "BUSINES SERVICES",business_services_path,class: "foot-menu1" %> </p>
				<p ><%= link_to "VIDEOS",videos_path,class: "foot-menu1" %></p>
				<p ><%= link_to "FORMS",videos_path,class: "foot-menu1" %></p>
				<p ><%= link_to "BLOGS",articles_path,class: "foot-menu1" %></p>
				<p ><%= link_to "CONTACT US",contacts_path,class: "foot-menu1" %></p>	
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 foot">
				<h5 style="padding-top:20px;">RECENT POSTS</h5>	
				<br>
				<p class="linktxt">Health and Safety 11365 Unlawful Use of Controlled Substance</p>
				<p class="linktxt">California Penal Code 647(f): Public Intoxication</p>
				<p class="linktxt">Health and Safety Code § 11358: Growing Marijuana</p>
				<p class="linktxt">Auto Accidents: Determining Fault in Left Turn Accidents</p>
				<p class="linktxt">Driving Under the Influence Vehicle Code 23152(a) VC </p>
				<h5 style="padding-top:20px;">SEARCH</h5>
				<div class="input-group">
				    <input type="text" class="form-control" placeholder="Search">
				    <div class="input-group-append">
				      <button class="btn btn-secondary" type="button">
				        <i class="fa fa-search"></i>
				      </button>
				    </div>
			    </div>
				     

			</div>
		</div>

		<div class="col-md-3 ">
			<div class="col-md-12 foot">
				<h5 style="padding-top:20px;">CONTACT US</h5>
				<br>
				<p class="linktxt">KAASS LAW Address: 815 E Colorado St #220, Glendale, CA 91205<br> Telephone: (310) 943-1171<br> Email: info@kaass.com
				</p>
				<p>	
			      <a class="fb-ic mr-3"href="https://www.facebook.com/KaassLaw/" target="_blank"><i class="fa fa-lg fa-facebook social"> </i></a>
			      <a class="tw-ic mr-3" href="https://www.twitter.com/Kaass_Law/" target="_blank"><i class="fa fa-lg fa-twitter social"> </i></a>
			      <a class="yp-ic mr-3" href="https://www.yelp.com/biz/kaass-law-glendale" target="_blank">
					<i class="fa fa-yelp social"></i>
				</a>
			      <a class="ins-ic mr-3" href="https://www.instagram.com/kaass_law/" target="_blank"><i class="fa fa-lg fa-instagram social"> </i></a>
      			</p>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="col-md-12 foot">
				<h5 style="padding-top:20px;">MAP & DIRECTIONS</h5>
				<p>
					<iframe style="border: 0;width: 90%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.1370734224456!2d-118.24694934928684!3d34.14283508048595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c1044665d4e7%3A0x7de9808c32e4b4c6!2sKaass+Law!5e0!3m2!1sen!2sus!4v1536462756163" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
				</p>
				<br>
				<p><%= image_tag "logo1.jpg",style: "width:90%;height:90%;padding-bottom:20px;" %></p>
			</div>
		</div>
	</div>
</section>
<section class="footer">
	<div class="row" style="background-color: #000000;min-height: 50px;">
		<p class="small-font" style="color: #ffffff;padding-left: 30px;font-size: 12px;padding-top: 10px;">Copyright © 2018 KAASS LAW | Lawyers in Glendale, Los Angeles County, California</p>
	</div>
</section>