<div class="container">
   <nav class="navbar navbar-expand-lg navbar-light  ">
  <%=  image_tag ("logo.png"),class: "logo-img" %>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item ">
        <%= active_link_to "HOME","home","home_index" ,home_index_path , "active_nav-link" %> 
      </li>
      <li class="nav-item">
        <%= active_link_to "ABOUT" ,"abouts","index",abouts_path , "active_nav-link" %>
      </li>
      <li class="nav-item dropdown">
      <%= active_link_to "BUSINES SERVICES" ,"business_services","index",business_services_path ,"active_nav-link" %> 
    </li>
      <li class="nav-item">
        <%= active_link_to "VIDEOS","videos","index", videos_path ,"active_nav-link"%>
      </li>
      <li class="nav-item">
        <a class="active_nav-link" href="#">FORMS</a>
      </li>
      <li class="nav-item">
        <%= active_link_to "BLOGS","articles","index", articles_path ,"active_nav-link"%>
      </li>
      <li class="nav-item">
        <%= active_link_to "CONTACT US","contacts","index", contacts_path , "active_nav-link" %>
      </li>
    </ul>
    
</div>
</nav>
</div>