<head>
	
	<%= display_meta_tags site: 'Lawyers in Glendale, Los Angeles County, California' %>
</head>
<div class="container-fluied">
	<div class="row home-row1">
		<div class="col-md-12 ">
			<div class="home-div1">

				<h1 class="home-h2" style="color:#ffffff;">
					Lawyers in Glendale, Los Angeles <br> County, California
				</h1>
				<p style="color:#ffffff;">KAASS LAW 815 E Colorado St #220, Glendale, CA 91205 (310) 943-1171</p>
			    <p>
			    	<%= link_to "BUSINES SERVICES" ,business_services_path ,class: "home-btn1" %> 
			    	<%= link_to "CONTACT US", contacts_path , class: "home-btn2" %>
			    </p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluied">
	<div class="row home-row2">
		
		<div class="col-md-4 mek1">
			<h1 style="color:#ffffff;">Experienced<br> Lawyers in<br> Glendale, Los Angeles, CA</h1>
			 
		</div>
		<div class="col-md-5 mek">
			<hr>
			<p style="color:#ffffff;">
				KAASS LAW consists of dedicated and experienced lawyers in Glendale, Los Angeles County, CA that specialize in offering services within multiple practice areas. Our law firm in Glendale, CA engages in the general practice of law.
			</p>
			<p style="color:#ffffff;">
				Attorneys at KAASS LAW are primarily focused in business law, personal injury, criminal defense, immigration, and, civil litigation at both state and federal court levels, with an emphasis on complex personal injury cases. Specifically our attorneys handle legal matters involving business law, corporations, criminal defense, startups, auto accidents, truck accidents, motorcycle accidents, multi-car accidents, wrongful death, insurance defense, elder abuse, serious felonies, misdemeanors, DUI, petty theft, shoplifting, drug related crimes, immigration, visas, employment visas, investor visas, insurance defense, business litigation, and the list goes on.
			</p>
		</div>

	</div>
</div>
<div class="container-fluied">
	<div class="row ">
		<div class="col-md-12 ">
			<h1 style="text-align: center;padding-top: 10px">Business Services </h1>
			<p style="text-align: center;padding-top: 10px">Our experienced lawyers in Glendale, Los Angeles, CA, specialize in offering services for a variety of attorney practice areas.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row home-row3">
		<div class="col-md-4 erku">
			<%= image_tag "home2.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Personal Injury</h4>
			<p>Glendale personal injury attorneys specializing in auto accidents, motorcycle accidents, left turn motorcycle accidents, truck accident, multi-car accidents, premises liability, slip, falls, Uber/Lyft accident insurance claims, and medical malpractice. Our personal injury lawyers in Glendale, CA, possess the necessary skills to successfully receive fair settlements or we go to trial.</p>
		</div>
		<div class="col-md-4 erku ">
			<%= image_tag "home4.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Business Law / Business Startups</h4>
			<p>Our comprehensive business law practice includes both the transactional and the litigation aspects of business law. We advise and assist in the formation of entities such as corporation formation, partnerships, limited liability companies and limited liability partnerships. We also prepare and review business sale contracts, employment contracts, business contract disputes, and other business agreements. We are there for the life of the company, helping with business and tax filings and other compliance matters.</p>
		</div>
		<div class="col-md-4 erku">
			<%= image_tag "home3.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Auto Accidents</h4>
			<p>If you’ve been seriously hurt in a motorcycle accident, automobile accident, drunk driving accident, pedestrian accident, or semi-truck accident. Our Glendale accident attorneys we will do everything in our power to make sure you get the medical treatment and the compensation you need and deserve. Our Glendale accident lawyers possess the necessary skills to successfully receive fair settlements or we go to trial.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row home-row3">
		<div class="col-md-4 erku">
			<%= image_tag "home6.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Immigration</h4>
			<p>Glendale immigration attorneys specializing in Family Based Immigration, Employment H-1B Based Immigration, Naturalization, Same Sex Marriage Petitions, Asylum, O-Visas (Extraordinary Ability), U-Visas (Victims of Crimes), Investor Visas, Fiancé Visas, VAWA (Victim of Abuse in Marriage), I-601 Inadmissibility Waivers, Deportation, and Cancellation of Removal.</p>
		</div>
		<div class="col-md-4 erku ">
			<%= image_tag "home4.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Criminal Defense</h4>
			<p>Our Glendale criminal defense attorneys specialize in charges ranging from serious felonies to misdemeanors. Whether you are facing drug charges, identity theft, theft, grand theft auto, DUI, burglary, robbery, or and another criminal charge(s), we are here to help. Our criminal law attorneys have a 99% success rate in removing first-time misdemeanors</p>
		</div>
		<div class="col-md-4 erku">
			<%= image_tag "home5.jpg",class: "home2-img" %>
			<h4 style="text-align: center;">Insurance Bad Faith</h4>
			<p>Our Glendale attorneys professionally handle insurance defense, insurance coverage issues, and insurance bad faith claims throughout Los Angeles County and southern California. We represent and defend insureds and insurance companies in lawsuits arising out of an accidents, business commercial insurance, or occurrence covered under the insured’s policy.</p>
		</div>
	</div>
</div>

<div class="container-fluied">
	<div class="row home-row4">
		<div class="col-md-6 ereq">
			<h1 style="color: #ffffff;text-align: center;padding-top: 10%;">Hire a Dedicated <br>Lawyer in Glendale, <br>Los Angeles, CA That<br> Won't Give up<br> Without a Fight</h1>
		</div>
		<div class="col-md-5 ereq">
			<p style="padding-top:10%;color: #ffffff;">The dedicated attorneys at KAASS LAW are committed to helping our clients through difficult situations with creative, practical solutions tailored to their particular legal needs. Personalization of service and commitment to excellence are key elements of our approach.
			</p>
			<p style="padding-right:5%;color: #ffffff;">The goal of our law firm in Glendale, CA is to meet the needs and expectations of our clients. We offer loyalty and dedication towards the legal matters of all our clients, in order to help them achieve their goals in their personal and professional lives. KAASS Law is composed of highly skilled attorneys and USC, UCLA, UC Berkeley, and Southwestern University School of Law alumni.
			</p>
		</div>
	</div>
</div>


<div class="container-fluied">
	<div class="row home-row3">
		<div class="col-md-6 ">
			<h1 style="color: #000000;padding-top: 20%;padding-left: 20%;">Contact Us</h1>
			<p style="padding-left: 20%;">KAASS LAW <br>Address: 815 E. Colorado #220, Glendale, CA 91205<br>Phone: (310) 943-1171<br>Email: info@kaass.com</p>
		</div>
		<div class="col-md-6 ">
			
		</div>
	</div>
</div>

<div class="container-fluied">
	<div class="row home-row5">
		<div class="col-md-6 ">
			<h1 style="color: #ffffff;text-align: center;padding-top: 10%;">Free Personal Injury <br>Consultation</h1>
			<p style="color: #ffffff;text-align: center;">CALL NOW TO SPEAK WITH A LAWYER<br> (310) 943-1171</p>
		</div>
		<div class="col-md-6 ereq ">
			<p style="color: #ffffff;">Our Glendale personal injury lawyers can help you maximize compensation for injuries and damages suffered.
			</p>
			<p style="padding-right:5%;color: #ffffff;">If you have been injured, we invite you to call our office and schedule a Free Personal Injury Consultation and Case Review. Our No-Fee Promise; You Don’t Pay Unless We Win.
			</p>
		</div>
	</div>
</div>


